
{% extends 'application_layout.html' %}

{% load static %}

{% block title %}
  Ficha de Reserva
{% endblock %}


{% block body %}

<div class="container">

  <div class="row">
    <div class="col-md-4">
      <h1 class="reservation-title">
        Detalles de la Reserva de
        {% if reservation.get_item_type == 'space' %}
          <a href="{% url 'space_data' reservation.space.id %}">{{ reservation.get_item_name }}</a>
        {% else %}
          <a href="{% url 'article_data' reservation.article.id %}">{{ reservation.get_item_name }}</a>
        {% endif %}

        {% if item.state == "P" %}
          <span class="badge badge-pill badge-primary"><i class="fas fa-chevron-left"></i> {{  reservation.get_state_display }}</span>
        {% elif item.state == "R" %}
          <span class="badge badge-pill badge-warning"><i class="fas fa-chevron-left"></i> {{  reservation.get_state_display }}</span>
        {% endif %}
       </h1>

      <h4 class="reservation-detail">Usuario: {{ reservation.user.get_full_name }}</h4>

      <h4 class="reservation-detail">Inicio de la Reserva: <br> {{  reservation.starting_date_time }}</h4>
      <h4 class="reservation-detail">Fin de la Reserva: <br> {{ reservation.ending_date_time }}</h4>

      {% if correct_user %}
        <h5 class="regret-title">¿Te arrepentiste? Aún puedes cancelar! :)</h5>
        <form class="regret-form" action="{% url 'delete_reservation' %}" method="post">
          <input type="hidden" name="reservation" value="{{ reservation.get_item_type }}-{{ reservation.id }}">
          {% csrf_token %}

          <input class="btn btn-danger" type="submit" value="Borrar">
        </form>
      {% endif %}
    </div>

    <div class="col-md-6 offset-md-1">

      <div class="card">
        {% if item.image %}
            <img class="card-img-top" src="{% static item.image.url %}">
        {% else %}
            <img class="card-img-top" src="{% static 'img/items/default_space.jpg' %}">
        {% endif %}

        <div class="card-header article-description-title">Descripción de {{ item.name }}</div>
        <div class="card-body">
          <p class="card-text">{{ item.description }}</p>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
