{% extends 'application_layout.html' %}

{% block title %}
  Panel de Administración | Artículos y Espacios
{% endblock %}

{% block body %}
<div class="container">
<div class="row">
  {% include '_sidebar.html' %}
	<div class="col-md-10">
    <div class="row">
      <div class="col-md-6 offset-md-3 form-container">
        <form>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-search"></i>
              </span>
            </div>
            <input class="form-control" type="text" placeholder="Ingrese su busqueda">
            <div class="input-group-append">
              <button class="search-button btn btn-outline-secondary" type="submit">Buscar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 admin-table-container">
        <h1>Articulos</h1>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre del Articulo</th>
            <th scope="col">Estado</th>
            <th scope="col" style="text-align:center;">
              <a href="" class="table-button add-button" data-toggle="modal" data-target="#editName">
              <i class="fas fa-plus-circle"></i>
            </a></th>
          </tr>
          </thead>
          <tbody>
          {% for article in articles %}
          <tr>
            <td>{{ article.id }}</td>
            <td>{{ article.name }}</td>
            <td>{{ article.get_state_display }}</td>
            <td class="center-column">
              <a class="table-button" href="{% url 'article_data_admin' article.id %}"><i class="fas fa-edit"></i></a>
              <a class="table-button" href="{% url 'article_delete'  article.id %}"><i class="fas fa-trash"></i><a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>




      <div class="col-md-6 admin-table-container">
        <h1>Espacios</h1>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre del Espacio</th>
            <th scope="col">Estado</th>
            <th scope="col" style="text-align:center;">
              <a href="#" class="table-button add-button" data-toggle="modal" data-target="#editName2">
              <i class="fas fa-plus-circle"></i>
            </a></th>
          </tr>
          </thead>
          <tbody>
          {% for space in spaces %}
          <tr>
            <td>{{ space.id }}</td>
            <td>{{ space.name }}</td>
            <td>{{ space.get_state_display }}</td>
            <td class="center-column">
              <a class="table-button" href="{% url 'space_data' space.id%}"><i class="fas fa-edit"></i><a>
              <a class="table-button" href="{% url 'space_delete'  space.id %}"><i class="fas fa-trash"></i><a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="editName" tabindex="-1" role="dialog" aria-labelledby="editNameLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editNameLabel">Crear Nuevo Artículo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="add-article/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
      <div class="modal-body">
        <input name="name" class="form-control" type="text" placeholder="Ingrese Nombre">
        <br>
        <label for="id_file">Subir Imagen</label>
        <input type="file" class="form-control-file" id="id_file" name="file">
        <br>
        <textarea name="description" class="form-control" id="textarea1" rows="4"
        placeholder="Ingrese Descripcion del articulo"></textarea>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      </div>
        </form>
    </div>
  </div>
</div>

<div class="modal fade" id="editName2" tabindex="-1" role="dialog" aria-labelledby="editNameLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editNameLabel">Crear Nuevo Espacio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="add-space/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
      <div class="modal-body">
        <input name="name" class="form-control" type="text" placeholder="Ingrese Nombre">
        <br>
        <textarea name="description" class="form-control" id="textarea1" rows="4"
        placeholder="Ingrese Descripcion del espacio"></textarea>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      </div>
        </form>
    </div>
  </div>
</div>


</div>
{% endblock %}
