
{% extends 'application_layout.html' %}

{% load static %}

{% block title %}
  Ficha del espacio: {{ space.name }}
{% endblock %}


{% block body %}

  <div class="container">
   <div class="row">
    <div class="col-md-10 offset-1">
      <div class="row">
        <h1 class="space-name">
        {% if user.is_staff %}
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#editName">
          <i class="fas fa-edit"></i></button>
        {% endif %}

          {{ space.name }}
        {% if space.state == "D" %}
            <span class="badge badge-pill badge-success"><i class="fas fa-chevron-left"></i> {{  space.get_state_display }}</span>
          {% elif space.state == "P" %}
            <span class="badge badge-pill badge-primary"><i class="fas fa-chevron-left"></i> {{  space.get_state_display }}</span>
          {% elif space.state == "L" %}
            <span class="badge badge-pill badge-danger"><i class="fas fa-chevron-left"></i> {{  space.get_state_display }}</span>
          {% elif space.state == "R" %}
            <span class="badge badge-pill badge-warning"><i class="fas fa-chevron-left"></i> {{  space.get_state_display }}</span>
          {% endif %}
         </h1>
      </div>
    </div>
   </div>

  <div class="row">
      <div class="col-md-8 offset-1">
        {% if space.image %}
            <img src= " {% static space.image.url %}" class="img-fluid" alt="Foto" style="height: 400px" />
        {% else %}
            <img class="card-img-top" src="{% static 'img/items/default_space.jpg' %}" alt="Card image cap">
        {% endif %}
      {% if user.is_staff %}
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#editImage">
          <i class="fas fa-edit"></i></button>
      {% endif %}
      </div>
    <div class="col-md-3">
      <div class="card">
          <div class="card-header space-description-title">Descripción</div>
          <div class="card-body">
            <p class="card-text">{{ space.description }}</p>
          </div>
        {% if user.is_staff %}
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#editDescription">
          <i class="fas fa-edit"></i></button>
      {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    {% include '_schedule_landing.html' %}
  </div>
  </div>

   <!---  MODALES PARA EDICION DE LOS CAMPOS --->


        <!-- Nombre -->
    <div class="modal fade" id="editName" tabindex="-1" role="dialog" aria-labelledby="editNameLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editNameLabel">Editar Nombre del Espacio</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <form action="{{ space.id }}/edit_name" method="post">
                {% csrf_token %}
          <div class="modal-body">
            <input name="name" class="form-control" type="text" placeholder="Ingrese Nombre">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          </div>
            </form>
        </div>
      </div>
    </div>



    <!-- Imagen -->
    <div class="modal fade" id="editImage" tabindex="-1" role="dialog" aria-labelledby="editImageLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editImageLabel">Editar Imagen del Espacio</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <form action="{{ space.id }}/edit_image" method="post" enctype="multipart/form-data">
                {% csrf_token %}
          <div class="modal-body">
            <label for="editImageControl">Subir Imagen</label>
            <input type="file" class="form-control-file" id="editImageControl" name="image">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          </div>
            </form>
        </div>
      </div>
    </div>

    <!-- Descripcion -->
    <div class="modal fade" id="editDescription" tabindex="-1" role="dialog" aria-labelledby="editDescriptionLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editDescriptionLabel">Editar Descripción del Espacio</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <form action="{{ space.id }}/edit_description" method="post">
                {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
                <label for="textarea1">Ingrese Descripción del artículo</label>
                <textarea name="description" class="form-control" id="textarea1" rows="4">{{ article.description }}</textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          </div>
            </form>
        </div>
      </div>
    </div>

{% endblock %}